# *.pdf
0\ interview/
0\ it\ akademy/
0\ learning\ plan/
0\ unreaded\ books/
0\ user\ github\ page/
2\ html_css\ books/
4\ python\ django\ cheet\ sheet
4\ python\ projects\ pycharm
5\ ruby\ on\ rails\ cheet\ sheet
5\ ruby\ projects\ rubymine
6\ java\ books/
6\ java\ libraries/
6\ java\ projects\ a\ core\ java
6\ java\ projects\ a\ javafx
6\ java\ projects\ a\ swing
6\ java\ projects\ g\ netbeans
6\ java\ projects\ x\ spring
8\ ide\ eclipse\ &\ sts
8\ ide\ jetbrains
8\ ide\ netbeans

