*.pdf
0\ interview/
0\ it\ akademy/
0\ learning\ plan/
0\ unreaded\ books/
2\ html_css\ books/
6\ java\ books/
9\ projects\ rubymine/RubyOnRails_Testing3/node_modules/
9\ projects\ rubymine/RubyOnRails_Testing3/tmp/

