
/*tag::first-letter {}
tag::first-line {}*/
/* budzeno prvo slovo ili prvi red */

* {
  box-sizing: border-box;
  /* margin: 3px;
  border: 2px solid red;
  padding: 3px; */
}
body {
  font: 1.1rem/1.1 Arial, Helvetica, "sans-serif";
  color: #16a3b6;
  max-width: 960px;
  margin: auto;
  background-image: url(images/bg9-100.jpg);
}
ul {
  list-style-type: circle;
}
.navigation {
  list-style-type: none;
}
.navlinkovi {
  display:inline;
}
h1 {
  text-shadow: -4px 4px 3px #666, 1px -1px 2px #000;
  font-size: 4rem;
  padding: 80px 0 20px 0;
  position: relative;
  left: 25px;
}
h2 {
  margin: 20px 20px 20px 20px;
  padding: 30px 0 0 0;
}
a {
  text-decoration: none;
}
.logo {
  float: right;
  width: 20%;
}
.portret {
  float: left;
  box-shadow: -4px 4px 8px #666;
  width: 40%;
}
.mandalam, .stones {
  float: right;
  box-shadow: -4px 4px 8px #666;
  width: 35%;
}
.masternav {
  clear: both;
  padding: 10px 0 0 0;
  font-weight: bold;
}
.mandala2 {
  clear: both;
}
.mandala3 {
  clear: both;
}
footer {
  clear: both;
  padding: 20px 0px 1px 0px;
  background: rgb(250, 251, 236);
}
address {
  padding: 0 0 0 20px;
}
header {
  background: rgb(250, 251, 236);
}
img {
  max-width: 100%;
}
.mandalam figcaption {
  text-align: center;
}
main, article {
  background: rgb(250, 251, 236);
}
p {
  margin: 20px 20px 20px 20px;
}
.last {
  padding: 0px 0px 20px 0px;
}
.lastul {
  padding: 0px 20px 20px 40px;
}
.adagio {
  float: right;
  width: 43%;
  margin: 50px 0 0 0;
}
.poema {
  padding: 30px 0 0 0;
}
time {
  margin: 0 0 0 20px;
}
article {
  margin: 20px;
}
a:hover {
  color:#7af0ff;
  background-color: rgb(236, 31, 255);
  padding: 10px;
}
a:link {
  color:#0c8ab4;
  background-color: rgb(255, 239, 22);
  padding: 10px;
}
.pagemandala figcaption {
  background-color: rgb(255, 255, 255);
}
aside {
  position: relative;
  right: 40px;
}
.stones {
  position: relative;
  bottom: 55px;
  width: 25%;
}